# üìë Table of Contents

## Data preparation and descriptive analysis

- [üîé Descriptive analysis](#Descriptive-analysis)
- [üîé Categorical overview](#Categorical-overview)
- [üîé Geographical overview](#Geographical)
- [üîé Time based overview](#Time-based)
- [üîé Ride Price Distribution](#Ride-Price-Distribution)
---

## Documentation
- [üìã Data collection](#Data-collection)
- [üìã Data Limitations](#Limitations-of-the-Data)
- [üìã Ethical Considerations](#Ethical-Considerations)



## Research
- [üéØ Project Goals](#project-goals)
- [üßç USER BEHAVIOR & FRAUD SIGNALS](#user-behavior--fraud-signals)
- [üåç GEOGRAPHY & DEVICE RISK](#geography--device-risk)
- [üí≥ PAYMENT & PRICING BEHAVIOR](#payment--pricing-behavior)
- [üïê TIME & PATTERN ANALYSIS](#time--pattern-analysis)
- [üîß PREPARING FOR MODELS & PRODUCT DECISIONS](#preparing-for-models--product-decisions)
- [üîÅ GOAL 2 SUPPORT ‚Äî PRODUCT STRATEGY QUESTIONS](#goal-2-support--product-strategy-questions)

# Descriptive analysis

In [1]:
#importing libraries 
import pandas as pd
import numpy as np
import os

In [2]:
# Importing Scheduled rides
path = "/Users/Glebazzz/Jupiter/Taxi" 
df_fail = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '0.csv'), sep=';')
df_fail.dtypes

created                   object
device_name               object
device_os_version         object
country                   object
city_id                  float64
lat                      float64
lng                      float64
real_destination_lat     float64
real_destination_lng     float64
user_id                    int64
order_id                   int64
order_try_id               int64
distance                   int64
ride_distance              int64
price                    float64
ride_price               float64
price_review_status       object
price_review_reason       object
is_successful_payment      int64
name                      object
card_bin                 float64
failed_attempts            int64
dtype: object

In [3]:
# Load the datasets (replace paths with yours)
df_success = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '1.csv'), sep=';')
df_success.dtypes

created                   object
device_name               object
device_os_version         object
country                   object
city_id                  float64
lat                      float64
lng                      float64
real_destination_lat     float64
real_destination_lng     float64
user_id                    int64
order_id                   int64
order_try_id               int64
distance                   int64
ride_distance              int64
price                    float64
ride_price               float64
price_review_status       object
price_review_reason       object
is_successful_payment      int64
name                      object
card_bin                 float64
failed_attempts            int64
dtype: object

In [4]:
# Add a column to track origin
df_success['payment_status'] = 'success'
df_fail['payment_status'] = 'fail'

# Combine them into one DataFrame for easier analysis
df_all = pd.concat([df_success, df_fail], ignore_index=True)

In [5]:
df_all.describe()

,city_id,lat,lng,real_destination_lat,real_destination_lng,user_id,order_id,order_try_id,distance,ride_distance,price,ride_price,is_successful_payment,card_bin,failed_attempts
count,210922.000000,211134.000000,211134.000000,211109.000000,211109.000000,2.111340e+05,2.111340e+05,2.111340e+05,211134.000000,2.111340e+05,211134.000000,211134.000000,211134.000000,210969.000000,211134.000000
mean,93.079470,26.692684,22.469692,26.693740,22.470922,1.231339e+06,1.608624e+07,1.651260e+07,1531.906225,9.635553e+03,268.397124,286.043775,0.761535,492741.451858,0.393385
std,123.921468,36.758359,22.232418,36.758456,22.232358,5.927294e+05,6.252194e+06,6.387487e+06,1750.978105,1.135036e+04,962.840209,970.244012,0.426146,50293.829192,1.113308
min,1.000000,-34.193077,-99.544265,-34.430436,-99.738135,1.910000e+02,2.898783e+06,2.878471e+06,0.000000,1.000000e+00,0.000000,0.000000,0.000000,370276.000000,0.000000
25%,3.000000,-26.013552,23.890055,-26.014164,23.887208,7.926020e+05,1.085421e+07,1.128138e+07,475.000000,4.034000e+03,2.799900,5.200000,1.000000,448315.000000,0.000000
50%,54.000000,47.486832,24.749640,47.476152,24.754141,1.241347e+06,1.574068e+07,1.614289e+07,1045.000000,6.983000e+03,7.400000,17.500000,1.000000,516737.000000,0.000000
75%,158.000000,56.943508,28.037745,56.939666,28.039045,1.712229e+06,2.151626e+07,2.195511e+07,1989.000000,1.182200e+04,60.000000,95.299900,1.000000,531169.000000,0.000000
max,371.000000,65.039968,50.169587,65.060517,50.366644,2.300064e+06,2.710227e+07,2.795870e+07,39913.000000,1.000211e+06,64210.000000,64210.000000,1.000000,559998.000000,42.000000

In [6]:
# Numerical summary
numerical_cols = df_all.select_dtypes(include=['int64', 'float64', 'Int64', 'int32']).columns.tolist()
numerical_summary = df_all[numerical_cols].describe().T.round(2)
numerical_summary

,count,mean,std,min,25%,50%,75%,max
city_id,210922.0,93.08,123.92,1.00,3.00,54.00,158.00,371.00
lat,211134.0,26.69,36.76,-34.19,-26.01,47.49,56.94,65.04
lng,211134.0,22.47,22.23,-99.54,23.89,24.75,28.04,50.17
real_destination_lat,211109.0,26.69,36.76,-34.43,-26.01,47.48,56.94,65.06
real_destination_lng,211109.0,22.47,22.23,-99.74,23.89,24.75,28.04,50.37
user_id,211134.0,1231338.78,592729.44,191.00,792602.00,1241347.00,1712229.00,2300064.00
order_id,211134.0,16086238.66,6252194.33,2898783.00,10854210.50,15740681.50,21516255.50,27102274.00
order_try_id,211134.0,16512597.74,6387487.03,2878471.00,11281375.25,16142887.50,21955110.00,27958698.00
distance,211134.0,1531.91,1750.98,0.00,475.00,1045.00,1989.00,39913.00
ride_distance,211134.0,9635.55,11350.36,1.00,4034.00,6983.00,11822.00,1000211.00
price,211134.0,268.40,962.84,0.00,2.80,7.40,60.00,64210.00
ride_price,211134.0,286.04,970.24,0.00,5.20,17.50,95.30,64210.00
is_successful_payment,211134.0,0.76,0.43,0.00,1.00,1.00,1.00,1.00
card_bin,210969.0,492741.45,50293.83,370276.00,448315.00,516737.00,531169.00,559998.00
failed_attempts,211134.0,0.39,1.11,0.00,0.00,0.00,0.00,42.00

#### Price Fields (ride_price, price)
- Median is much lower than the mean ‚Üí skewed distribution.
- Many rides have price = 0 ‚Üí likely unpaid or test/fraud rides.
- Max values are extremely high ‚Üí likely outliers or price manipulation.

#### Distance Fields
- Ride_distance has extreme outliers, suggesting dirty or mislabeled data.
- Consider applying log transform or filtering upper 1% for modeling.

#### Failed_attempts
- 75% of rides had 0 failed attempts.
- Max = 42, suggesting potential fraud or abuse.
- Strong candidate for fraud scoring feature.

#### card_bin and city_id
- Converted to Int64, these have some missing values but seem mostly intact.
- Useful for geographic or issuer-level fraud detection.

In [7]:
# Categorical summary (top 10 most frequent)
categorical_cols = df_all.select_dtypes(include=['object', 'category']).columns.tolist()
categorical_summary = {}
for col in categorical_cols:
    categorical_summary[col] = df_all[col].value_counts(normalize=True).head(10).round(3)
for col, summary in categorical_summary.items():
     print(f"\nColumn: {col}")
     print(summary)

Column: created
created
2017-07-27 17:12:18    0.0
2017-06-29 16:15:33    0.0
2017-08-04 22:47:40    0.0
2017-06-06 06:37:58    0.0
2017-05-30 16:24:44    0.0
2017-08-03 15:01:00    0.0
2017-01-01 21:40:34    0.0
2017-07-28 10:40:19    0.0
2017-05-24 19:37:09    0.0
2017-05-03 08:37:34    0.0
Name: proportion, dtype: float64

Column: device_name
device_name
iPhone6S           0.092
iPhone6            0.091
iPhone7            0.081
iPhone5S           0.058
iPhoneSE           0.037
iPhone7Plus        0.031
samsungSM-G935F    0.023
samsungSM-G930F    0.020
samsungSM-G920F    0.019
iPhone5            0.016
Name: proportion, dtype: float64

Column: device_os_version
device_os_version
iOS10.3.2       0.202
iOS10.3.3       0.102
samsung6.0.1    0.096
samsung7.0      0.080
iOS10.2.1       0.054
iOS10.3.1       0.044
HUAWEI6.0       0.034
samsung5.1.1    0.028
HUAWEI7.0       0.027
iOS10.2         0.021
Name: proportion, dtype: float64

Column: country
country
za    0.293
lv    0.174
ee    0.122
hu    0.079
ro    0.065
lt    0.062
ge    0.041
az    0.032
mx    0.029
cz    0.026
Name: proportion, dtype: float64

Column: price_review_status
price_review_status
ok            1.0
requested     0.0
not_solved    0.0
Name: proportion, dtype: float64

Column: price_review_reason
price_review_reason
price_too_high                 0.915
calculation_failed             0.075
price_calculation_warnings     0.011
Name: proportion, dtype: float64

Column: name
name
**** 2011    0.001
**** 5015    0.001
**** 7016    0.001
**** 4019    0.001
**** 1007    0.001
**** 5011    0.001
**** 8015    0.001
**** 1019    0.000
**** 3014    0.000
**** 4010    0.000
Name: proportion, dtype: float64

Column: payment_status
payment_status
success    0.762
fail       0.238
Name: proportion, dtype: float64

#### Insights
- Data is platform-dominant (iOS-heavy) and region-dominant (specific countries).
- payment_status, device_name, and country are high-signal features for downstream analysis.
- Columns like price_review_reason are sparse but meaningful for fraud investigation or feedback modelling.

In [8]:
# Convert 'created' column to string (in case of inconsistencies)
df_all['created'] = df_all['created'].astype(str)

# Split the 'created' column into separate 'date' and 'time' columns
df_all[['date', 'time']] = df_all['created'].str.split(' ', expand=True)

# Drop the original 'created' column
df_all.drop(columns='created', inplace=True)

# Convert 'date' column to datetime format
df_all['date'] = pd.to_datetime(df_all['date'])

# Convert 'time' column to time format (datetime.time)
df_all['time'] = pd.to_datetime(df_all['time'], format='%H:%M:%S').dt.time

# Add 'hour' column for later grouping/aggregation by hour
df_all['hour'] = pd.to_datetime(df_all['time'], format='%H:%M:%S').dt.hour

# === 2. Change data types of other columns ===

# Convert 'card_bin' to Int64 (nullable integer, supports NaNs)
df_all['card_bin'] = df_all['card_bin'].astype('Int64')

# Convert 'city_id' to Int64 (nullable integer)
df_all['city_id'] = df_all['city_id'].astype('Int64')

# Convert object-type columns to category type for efficiency
category_columns = [
    'device_name',
    'device_os_version',
    'country',
    'name',
    'price_review_status',
    'price_review_reason'
]
df_all[category_columns] = df_all[category_columns].astype('category')

# Show the updated data types for verification
print(df_all.dtypes)

device_name                    category
device_os_version              category
country                        category
city_id                           Int64
lat                             float64
lng                             float64
real_destination_lat            float64
real_destination_lng            float64
user_id                           int64
order_id                          int64
order_try_id                      int64
distance                          int64
ride_distance                     int64
price                           float64
ride_price                      float64
price_review_status            category
price_review_reason            category
is_successful_payment             int64
name                           category
card_bin                          Int64
failed_attempts                   int64
payment_status                   object
date                     datetime64[ns]
time                             object
hour                              int32
dtype: object

In [9]:
df_all.describe()

,city_id,lat,lng,real_destination_lat,real_destination_lng,user_id,order_id,order_try_id,distance,ride_distance,price,ride_price,is_successful_payment,card_bin,failed_attempts,date,hour
count,210922.0,211134.000000,211134.000000,211109.000000,211109.000000,2.111340e+05,2.111340e+05,2.111340e+05,211134.000000,2.111340e+05,211134.000000,211134.000000,211134.000000,210969.0,211134.000000,211134,211134.000000
mean,93.07947,26.692684,22.469692,26.693740,22.470922,1.231339e+06,1.608624e+07,1.651260e+07,1531.906225,9.635553e+03,268.397124,286.043775,0.761535,492741.451858,0.393385,2017-03-21 09:51:10.266276608,13.245039
min,1.0,-34.193077,-99.544265,-34.430436,-99.738135,1.910000e+02,2.898783e+06,2.878471e+06,0.000000,1.000000e+00,0.000000,0.000000,0.000000,370276.0,0.000000,2015-09-30 00:00:00,0.000000
25%,3.0,-26.013552,23.890055,-26.014164,23.887208,7.926020e+05,1.085421e+07,1.128138e+07,475.000000,4.034000e+03,2.799900,5.200000,1.000000,448315.0,0.000000,2017-01-20 00:00:00,8.000000
50%,54.0,47.486832,24.749640,47.476152,24.754141,1.241347e+06,1.574068e+07,1.614289e+07,1045.000000,6.983000e+03,7.400000,17.500000,1.000000,516737.0,0.000000,2017-04-15 00:00:00,14.000000
75%,158.0,56.943508,28.037745,56.939666,28.039045,1.712229e+06,2.151626e+07,2.195511e+07,1989.000000,1.182200e+04,60.000000,95.299900,1.000000,531169.0,0.000000,2017-06-17 00:00:00,18.000000
max,371.0,65.039968,50.169587,65.060517,50.366644,2.300064e+06,2.710227e+07,2.795870e+07,39913.000000,1.000211e+06,64210.000000,64210.000000,1.000000,559998.0,42.000000,2017-08-08 00:00:00,23.000000
std,123.921468,36.758359,22.232418,36.758456,22.232358,5.927294e+05,6.252194e+06,6.387487e+06,1750.978105,1.135036e+04,962.840209,970.244012,0.426146,50293.829192,1.113308,NaN,6.246311

#### Insights 
- ride_price ‚Äî¬†Highly skewed, outliers likely
- ride_distance - Extreme values ‚Äî possible unit inconsistency
- failed_attempts ‚Äî¬†Strong fraud indicator
- hour ‚Äî¬†Clean for hourly analysis
- price ‚Äî¬†Often 0 ‚Äî investigate further

In [10]:
# Structure & missing values
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211134 entries, 0 to 211133
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   device_name            211134 non-null  category
 1   device_os_version      211134 non-null  category
 2   country                211134 non-null  category
 3   city_id                210922 non-null  Int64
 4   lat                    211134 non-null  float64
 5   lng                    211134 non-null  float64
 6   real_destination_lat   211109 non-null  float64
 7   real_destination_lng   211109 non-null  float64
 8   user_id                211134 non-null  int64
 9   order_id               211134 non-null  int64
 10  order_try_id           211134 non-null  int64
 11  distance               211134 non-null  int64
 12  ride_distance          211134 non-null  int64
 13  price                  211134 non-null  float64
 14  ride_price             211134 non-null  float64
 15  price_review_status    211134 non-null  category
 16  price_review_reason    655 non-null     category
 17  is_successful_payment  211134 non-null  int64
 18  name                   211134 non-null  category
 19  card_bin               210969 non-null  Int64
 20  failed_attempts        211134 non-null  int64
 21  payment_status         211134 non-null  object
 22  date                   211134 non-null  datetime64[ns]
 23  time                   211134 non-null  object
 24  hour                   211134 non-null  int32
dtypes: Int64(2), category(6), datetime64[ns](1), float64(6), int32(1), int64(7), object(2)
memory usage: 32.5+ MB

In [11]:
df_all['hour'].value_counts(dropna = False)

hour
16    13158
17    12559
15    12339
14    11558
18    11538
19    11331
21    11325
20    11061
13    10119
22     9666
12     9410
11     8860
10     8748
9      8571
8      8444
7      8346
6      8167
23     7710
5      6737
0      5733
1      4670
4      4202
2      3781
3      3101
Name: count, dtype: int64

In [12]:
# Count missing values
df_all.isna().sum()

device_name                   0
device_os_version             0
country                       0
city_id                     212
lat                           0
lng                           0
real_destination_lat         25
real_destination_lng         25
user_id                       0
order_id                      0
order_try_id                  0
distance                      0
ride_distance                 0
price                         0
ride_price                    0
price_review_status           0
price_review_reason      210479
is_successful_payment         0
name                          0
card_bin                    165
failed_attempts               0
payment_status                0
date                          0
time                          0
hour                          0
dtype: int64

#### I'll keep all Data for Now. Missing data can be a signal itself.

In [128]:
# Find duplicates

df_dups = df_all[df_all.duplicated()]
df_dups

Empty DataFrame
Columns: [device_name, device_os_version, country, city_id, lat, lng, real_destination_lat, real_destination_lng, user_id, order_id, order_try_id, distance, ride_distance, price, ride_price, price_review_status, price_review_reason, is_successful_payment, name, card_bin, failed_attempts, payment_status, date, time, hour, price_per_km, has_price_review, missing_card_bin, missing_city_id, missing_destination]
Index: []

[0 rows x 30 columns]

## Checking mixed types of colomns

In [169]:
for col in df_all.columns:
    # Check if all values have the same type as the first non-null value
    first_type = type(df_all[col].dropna().iloc[0])
    weird = df_all[col].map(type) != first_type
    if weird.any():
        print(col)
# No mixed-type columns either!

city_id
lat
lng
real_destination_lat
real_destination_lng
user_id
order_id
order_try_id
distance
ride_distance
price
ride_price
price_review_reason
is_successful_payment
card_bin
failed_attempts
hour
price_per_km
has_price_review
missing_card_bin
missing_city_id
missing_destination

In [171]:
numeric_cols = [
    'lat', 'lng', 'real_destination_lat', 'real_destination_lng',
    'user_id', 'order_id', 'order_try_id', 'distance', 'ride_distance',
    'ride_price', 'price', 'card_bin', 'failed_attempts', 'hour',
    'price_per_km', 'is_successful_payment', 'missing_card_bin',
    'missing_city_id', 'missing_destination'
]

for col in numeric_cols:
    df_all[col] = pd.to_numeric(df_all[col], errors='coerce')

In [175]:
if weird.any():
    print(col)

missing_destination

In [177]:
df_all.isna().sum().sort_values(ascending=False)

price_review_reason      210479
city_id                     212
card_bin                    165
real_destination_lat         25
real_destination_lng         25
time                          0
name                          0
failed_attempts               0
payment_status                0
date                          0
device_name                   0
hour                          0
is_successful_payment         0
has_price_review              0
missing_card_bin              0
missing_city_id               0
price_per_km                  0
price_review_status           0
device_os_version             0
ride_price                    0
price                         0
ride_distance                 0
distance                      0
order_try_id                  0
order_id                      0
user_id                       0
lng                           0
lat                           0
country                       0
missing_destination           0
dtype: int64

In [183]:
df_all['missing_destination'] = df_all['missing_destination'].astype('bool')
if weird.any():
    print(col)

missing_destination

# Categorical-overview

In [141]:
# Counts the total number of 'success' and 'fail' payments in the dataset
df_all['payment_status'].value_counts()
# Displays only the top 30 combinations of (payment_status, device_name)
df_all.groupby('payment_status')['device_name'].value_counts().head(30)

payment_status  device_name
fail            iPhone6                 3819
                iPhone6S                3704
                iPhone7                 2972
                iPhone5S                2959
                iPhoneSE                1423
                iPhone7Plus             1090
                samsungSM-G935F          929
                iPhone5                  881
                HUAWEIALE-L21            859
                samsungSM-G920F          830
                samsungSM-G930F          781
                iPhone6SPlus             654
                iPhone6Plus              620
                samsungSM-G925F          548
                samsungSM-G900F          542
                iPhone7,2                500
                HUAWEIHUAWEI VNS-L31     492
                samsungSM-J500F          457
                samsungSM-A510F          429
                HUAWEIHUAWEI VNS-L21     401
                iPhone6,2                389
                samsungSM-A310F          380
                iPhone8,1                377
                iPhone4S                 309
                samsungSM-G532F          271
                samsungGT-I9500          263
                samsungSM-J510FN         252
                HUAWEIEVA-L19            248
                HUAWEIALE-L02            247
                samsungSM-G950F          243
Name: count, dtype: int64

In [143]:
# Safely create price_per_km column (if not yet present)
df_all['price_per_km'] = df_all['ride_price'] / (df_all['ride_distance'] + 1e-3)

# Full summary of numerical columns split by success/fail
summary = df_all.groupby('payment_status').describe().T.round(2)

# Display only selected rows if needed (e.g., top numeric fields)
summary.loc[['ride_price', 'ride_distance', 'price_per_km', 'failed_attempts']]

payment_status                 fail      success
ride_price      count       50348.0     160786.0
                mean     136.090641   332.999608
                min             0.0          0.1
                25%             4.9          5.4
                50%            25.0         15.3
                75%            75.0        115.0
                max         64210.0      34460.0
                std      718.184257  1032.181007
ride_distance   count       50348.0     160786.0
                mean    9679.842059   9621.68417
                min             1.0          1.0
                25%          4088.0       4016.0
                50%          6648.0       7123.0
                75%        10347.25      12415.0
                max       1000211.0     943617.0
                std    16626.601317  9088.908885
price_per_km    count       50348.0     160786.0
                mean       0.088255     0.197811
                min             0.0     0.000005
                25%        0.000821     0.000826
                50%         0.00478     0.002146
                75%        0.009273     0.009287
                max       449.55045  4095.904096
                std        2.920911    17.004969
failed_attempts count       50348.0     160786.0
                mean       0.582526     0.334158
                min             0.0          0.0
                25%             0.0          0.0
                50%             0.0          0.0
                75%             1.0          0.0
                max            42.0         32.0
                std          1.5282     0.938923

##### ride_price
-  Success rides have much higher average prices.
- Failures have a higher median price, suggesting possibly aborted higher-value rides.
- Very high standard deviations and max values ‚Üí extreme outliers in both.
##### ride_distance
- Distances are quite similar across payment outcomes.
- Very high max values indicate dirty or mis-scaled data.
- Failures have more extreme ride distances (possibly fraudulent injection?).
##### price_per_km
- Huge variance and extreme max values in both groups ‚Üí data contains some clearly invalid or extreme price-per-km values.
- The success group has a higher average price per km, but fail group has higher median ‚Äî again pointing to abnormal spread.
##### failed_attempts
- Failed payments are more often associated with multiple payment attempts.
- This is an excellent fraud-related behavioral feature (people retrying until payment fails).

# Geographical

In [147]:
# Group the data by payment status ('success' or 'fail'),
# then count the number of rides for each country within each status group
# Finally, display the top 30 most common (payment_status, country) combinations
df_all.groupby('payment_status')['country'].value_counts().head(30)

payment_status  country
fail            za         16027
                lv          7504
                ro          4601
                mx          3927
                lt          3610
                az          2698
                ua          2216
                ee          2012
                pl          1642
                cz          1625
                sk          1548
                ke           994
                ge           714
                hu           682
                ng           363
                eg           127
                mt            25
                rs            22
                gh             5
                fi             4
                ca             1
                sa             1
success         za         45742
                lv         29307
                ee         23686
                hu         15928
                lt          9408
                ro          9140
                ge          7906
                az          3987
Name: count, dtype: int64

#### Insights
- South Africa (za) has the highest number of failed transactions.
- Other risky markets: Latvia (lv), Romania (ro), and Mexico (mx).
- Many long-tail countries show very few fails ‚Äî likely low traffic.

# Time-based

In [151]:
df_all.groupby('payment_status')['hour'].value_counts().sort_index()

payment_status  hour
fail            0        1525
                1        1145
                2         912
                3         753
                4         897
                5        1192
                6        1465
                7        1621
                8        1720
                9        1820
                10       1944
                11       2117
                12       2126
                13       2403
                14       2704
                15       2798
                16       3130
                17       3229
                18       3069
                19       3123
                20       3147
                21       2987
                22       2450
                23       2071
success         0        4208
                1        3525
                2        2869
                3        2348
                4        3305
                5        5545
                6        6702
                7        6725
                8        6724
                9        6751
                10       6804
                11       6743
                12       7284
                13       7716
                14       8854
                15       9541
                16      10028
                17       9330
                18       8469
                19       8208
                20       7914
                21       8338
                22       7216
                23       5639
Name: count, dtype: int64

### Create Missing Value Flags for Key Columns

In [154]:
df_all['has_price_review'] = df_all['price_review_reason'].notna().astype(int)

In [156]:
df_all['missing_card_bin'] = df_all['card_bin'].isna().astype(int)
df_all['missing_city_id'] = df_all['city_id'].isna().astype(int)
df_all['missing_destination'] = df_all[['real_destination_lat', 'real_destination_lng']].isna().any(axis=1).astype(int)

# Ride Price Distribution

In [159]:
# Summary statistics for ride_price by country
df_fail.groupby('country')['ride_price'].describe().sort_values(by='mean', ascending=False)

,count,mean,std,min,25%,50%,75%,max
country,,,,,,,,
ca,1.0,6100.000000,NaN,6100.0,6100.000000,6100.0000,6100.000000,6100.0000
hu,682.0,3284.574780,3795.573031,0.0,1452.500000,2170.0000,4882.500000,64210.0000
ng,363.0,2854.738292,2763.823744,0.0,1200.000000,2100.0000,3550.000000,28100.0000
ke,994.0,1239.225352,1407.577931,0.0,290.000000,620.0000,1490.000000,9600.0000
rs,22.0,572.090909,253.209476,153.0,402.500000,571.0000,755.250000,980.0000
cz,1625.0,151.694338,176.270572,0.0,90.000000,125.0000,185.000000,6030.0000
ua,2216.0,100.862781,73.348367,0.0,63.700000,80.7999,114.449975,1267.9000
mx,3927.0,100.589623,125.609017,0.0,46.000000,71.0000,105.000000,3727.0000
za,16027.0,80.314594,92.686388,0.0,40.000000,65.0000,90.000000,3235.0000
gh,5.0,63.400000,35.244503,29.0,30.000000,58.5000,98.500000,101.0000
eg,127.0,39.072835,63.540413,0.0,15.625000,27.0000,42.750000,654.2500
pl,1642.0,14.457232,6.371747,0.0,9.882500,13.5850,17.545000,76.5000
ro,4601.0,13.739425,17.512788,0.0,10.000000,12.5000,15.199900,873.2999
fi,4.0,12.349975,9.111302,4.0,6.775000,10.2500,15.824975,24.8999
mt,25.0,10.620000,8.001666,0.0,6.000000,9.5000,12.500000,35.0000
sa,1.0,8.000000,NaN,8.0,8.000000,8.0000,8.000000,8.0000
ge,714.0,5.410763,3.011230,0.0,4.000000,4.4000,5.975000,50.0000
az,2698.0,5.242034,8.364627,0.0,2.632425,3.8300,5.019900,153.7200
lv,7504.0,4.471452,3.090970,0.0,2.899900,4.2999,5.799900,108.0000
lt,3610.0,4.457555,6.000521,0.0,3.000000,4.0000,4.900000,304.3000
sk,1548.0,3.959558,4.497785,0.0,3.047425,3.7999,4.500000,174.0000
ee,2012.0,3.228456,5.041275,0.0,0.000000,3.6000,4.599900,157.0000

In [189]:
df_all.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_taxi.csv'))

### Data collection 
The dataset used in this project was originally collected by a taxi company as part of its internal ride and payment tracking infrastructure. It includes detailed operational and transactional data such as ride prices, distances, timestamps, user behavior (e.g., failed payment attempts), device metadata, and country-level breakdowns.

The dataset was provided to me five years ago as part of a hands-on test task for a Product Manager role. While it does not include personally identifiable information, it offers a broad and representative snapshot of the company‚Äôs operational and transactional data. This makes it a valuable resource for exploring behavioral patterns, pricing anomalies, and payment success trends across different regions and user segments.

Although this dataset is not publicly available, I spoke with Bami, who was involved in the original assignment. After discussing the purpose and scope of my work, Bami agreed that I could use the dataset for this project. 

‚∏ª

### I chose this dataset because of
As a Product Manager with experience in fintech, mobility, and growth-focused roles, I saw clear alignment between the structure of this dataset and real-world challenges I‚Äôve faced‚Äîsuch as identifying risky user behavior, evaluating pricing strategies, and balancing conversion vs. fraud in checkout flows.

‚∏ª

### Limitations of the Data

1. Missing and Sparse Data
	- Minor missingness in card_bin, city_id, and destination fields could reduce completeness for geolocation or financial behavior analysis.

2. Currency Inconsistency
	- 	Ride prices are not standardized across countries ‚Äî no clear conversion or normalization provided.
	- 	Without currency context, cross-country comparisons can be misleading.

‚∏ª

### Ethical Considerations

1. User Privacy & Sensitive Data
	-    Data includes geolocation (lat/lng), device names, and payment patterns ‚Üí all sensitive information.
	- 	Any analysis must ensure:
	- 	No deanonymization of individuals
	- 	No device fingerprinting

2. Bias & Discrimination Risks
	- 	Country, device, or card_bin could accidentally become proxies for socioeconomic or ethnic profiling.
	- 	Risk: unfairly labelling users in certain countries as more ‚Äúrisky‚Äù purely due to systemic bias.

3. Fraud Prediction Ethics
	- 	Predicting fraud using behavioural patterns (e.g., many failed attempts) can lead to:
	- 	False positives, denying service to legitimate users
	- 	Overblocking low-income or underbanked users (e.g., prepaid card use)

4. Transparency in Automated Decisions
	- 	If models are deployed to block or flag users:
	- 	Clear documentation is needed
	- 	Users may have the right to know why a decision was made (GDPR: ‚Äúright to explanation‚Äù)

5. Consent and Data Origin
	- 	The data set was given to me in 2020 as part of a hands-on test task 
	- 	To mitigate risk, I will publish this project to GIT under the password. 
	- 	As soon as we don't have Personal data Names, Address, email, I believe it is GDPR compliant.

# üéØ Project Goals

1. **[Data Analyst]** Identify behavioral and contextual patterns to detect **first-time fraudulent users**  
2. **[Product Manager]** Based on findings, propose **top 2 product/development actions** to reduce failed payments (designed for a **small dev team**)  
3. **[Data Analyst]** Prepare a **clean, feature-rich dataset** for building a predictive model (binary classification: success vs. fail)

---

# üßç USER BEHAVIOR & FRAUD SIGNALS

1. Are **first-time users** more likely to result in failed payments?  
2. What is the **failure rate among users with multiple failed_attempts** before a success?  
3. Do **repeat failed users** share common attributes like `device_name`, `OS version`, or `card_bin`?  
4. Can we **cluster users** by behavior (e.g., ride frequency, price sensitivity, failed attempts)?  
5. Which **device models + OS versions** are most commonly associated with **first-time failed transactions**?

---

# üåç GEOGRAPHY & DEVICE RISK

6. Which **countries** have the **highest proportion** of failed rides (not just absolute counts)?  
7. Are specific **device‚Äìcountry combinations** strong indicators of fraud or failed payment?  
8. Do **missing `card_bin` or `city_id`** values correlate with failure ‚Äî especially in specific regions?

---

# üí≥ PAYMENT & PRICING BEHAVIOR

9. Are **free rides (`price = 0`)** or **high-priced rides** more likely to fail, especially among first-time users?  
10. Is there a **price-per-km range** outside of which rides fail more often?  
11. Do failed users **abandon rides after repeated attempts**, or do they eventually succeed?

---

# üïê TIME & PATTERN ANALYSIS

12. Are there **time-of-day patterns** (e.g., midnight‚Äì5 a.m.) for failed transactions?  
13. Do **weekends** or **holidays** show spikes in fraud or failed payments?

---

# üîß PREPARING FOR MODELS & PRODUCT DECISIONS

14. Which features (e.g., `failed_attempts`, `device_name`, `hour`) are **most predictive** of a failed payment?  
15. What is the **conversion/failure rate** per **ride context**: (device + country + user_type)?  
16. What **heuristics or real-time rules** could we deploy to **reduce first-time fraud** without hurting genuine users?  
17. Can we **simulate the effect** of applying soft blocks (e.g., "additional verification needed") for risky users?

---

# üîÅ GOAL 2 SUPPORT ‚Äî PRODUCT STRATEGY QUESTIONS

18. If we introduce **card validation before ride start**, what % of failed payments would be eliminated?  
19. If we limit **high-value rides for new users**, how many would be blocked ‚Äî and what's the conversion trade-off?  
20. How many failed payments happen after **multiple retry attempts** ‚Äî should we cut retries earlier?  
21. Would adding a **‚Äúverify phone/email‚Äù soft gate for flagged users** meaningfully reduce fraud rates?

---

# ‚úÖ Fraud Detection ‚Äì Question Summary Table

| **Category**                    | **Question**                                                                                         | **Answer / Insight**                                                                                       | **Status**         | **Action / Next Step**                                               |
|--------------------------------|------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------|--------------------|-----------------------------------------------------------------------|
| üßç User Behavior                | Are first-time users more likely to fail?                                                            | Not yet analyzed ‚Äì needs user grouping by `user_id`.                                                        | üîç To Do           | Feature engineer "first-time user" flag                              |
|                                | Failure rate vs. `failed_attempts`?                                                                  | Strong negative correlation ‚Äì more failures ‚Üí lower success rate.                                          | ‚úÖ Confirmed       | Use in model and flag logic                                          |
|                                | Common traits among repeat failed users?                                                             | Weak correlation with `device_name`, `os_version`, `card_bin`.                                              | ‚òëÔ∏è Partial         | Use for clustering/segmentation                                      |
|                                | Can we cluster users by behavior?                                                                    | Not yet done.                                                                                                | üîç To Do           | Try KMeans or DBSCAN with engineered features                        |
|                                | Which device models + OS versions fail more often?                                                   | Not analyzed.                                                                                                | üîç To Do           | Group by device + OS + payment_status                                |
| üåç Geography & Device Risk     | Countries with highest fail rate?                                                                    | Not yet calculated.                                                                                          | üîç To Do           | Group `country_id` by payment_status                                 |
|                                | Risky device‚Äìcountry combos?                                                                         | Not yet explored.                                                                                           | üîç To Do           | Pivot analysis on device √ó country √ó status                          |
|                                | Missing `card_bin` or `city_id` correlation?                                                         | Moderate to strong negative correlation ‚Üí increased failure.                                                | ‚úÖ Confirmed       | Add to rules/heuristics                                               |
| üí≥ Payment & Pricing           | Are free or high-priced rides more likely to fail?                                                   | Yes ‚Äì free rides and high-priced short rides often fail.                                                    | ‚úÖ Confirmed       | Consider value thresholds for new users                              |
|                                | Price-per-km threshold and failures?                                                                 | Extreme values ‚Üí high failure rate.                                                                         | ‚úÖ Confirmed       | Use for rule-based blocking or alerts                                |
|                                | Do failed users retry or abandon?                                                                    | Not yet studied.                                                                                             | üîç To Do           | Analyze retry sequences per user                                     |
| üïê Time Patterns               | Time-of-day failure patterns?                                                                        | Not analyzed.                                                                                                | ‚è≥ Pending         | Plot failure rate by hour                                            |
|                                | Weekend or holiday spikes?                                                                          | Not yet checked.                                                                                             | ‚è≥ Pending         | Add temporal features                                                |
| üîß Feature Evaluation          | Most predictive features?                                                                            | `failed_attempts`, `missing_card_bin`, `price`, `price_per_km`, geo-missing fields.                         | ‚úÖ Confirmed       | Use as model input                                                   |
|                                | Contextual failure rate (device + country + user type)?                                              | Not done yet.                                                                                                | üîç To Do           | Group by context and compute conversion rate                         |
|                                | Effect of soft-block simulation?                                                                     | Not tested yet.                                                                                              | üîç To Do           | Simulate filter + compare metrics                                    |
| üîÅ Product Strategy Support    | Would card validation before ride reduce fails?                                                      | To be simulated.                                                                                             | üîç To Do           | Calculate based on card_bin presence                                 |
|                                | Should we limit high-value rides for new users?                                                      | Needs trade-off simulation.                                                                                  | üîç To Do           | Segment users and model impact                                       |
|                                | Should we cap retries?                                                                               | Retry behavior not yet analyzed.                                                                            | üîç To Do           | Analyze per-user retry patterns                                      |
|                                | Would soft-gate (verify phone/email) help?                                                           | Potentially useful ‚Äî needs testing.                                                                         | üí° Hypothesis      | Simulate with historical risky profiles                              |

---

## üß™ Hypotheses

| **#** | **Hypothesis**                                                                                  |
|------|--------------------------------------------------------------------------------------------------|
| 1    | Users with 2+ failed attempts are significantly less likely to succeed.                         |
| 2    | Missing `card_bin` or `city_id` strongly correlates with failure.                               |
| 3    | High-priced, short-distance rides are often fraudulent.                                         |
| 4    | Outliers in `price_per_km` are highly predictive of failure.                                    |
| 5    | Device‚Äìcountry combinations may help reveal fraud clusters.                                     |